body {
  font-family: "Segoe UI", sans-serif;
  background: #f8f9fa;
  margin: 0;
  padding: 0;
}

.page-transition {
  animation: fadeSlideUp 0.8s ease-in-out;
}

@keyframes fadeSlideUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.home-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.stat-card {
  text-align: center;
  padding: 15px;
  background-color:rgb(198, 162, 16);
  color: #fff;
  border-radius: 8px;
  margin: 10px;
}

.stat-card:hover {
  background-color: #0b5ed7;
}

@media (max-width: 768px) {
  .stat-card {
      margin: 5px;
      padding: 10px;
  }

  .card-img-top {
      height: 180px;
  }
}

@media (max-width: 576px) {
  .home-container {
      padding: 20px;
  }

  .card-img-top {
      height: 150px;
  }
}

.card-body h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-body p {
  font-size: 0.9rem;
}

.modal-body img {
  max-height: 300px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 15px;
}
